.optionName {
    background-color: #000;
    color: white;
    border-radius: 0 !important;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkblue;
}

.learnMore {
    text-align: center !important;
    position: fixed;
    bottom: 21px;
    right: 0;
    left: 0;
}

.welcome-card {
    min-height: 350px;
}

@import '../../theme/BoxShadowNone';
@import '../../theme/ToolBarPadding';