
<ion-header no-border>
  <!-- <ion-toolbar>
    <ion-title>Practices</ion-title>
  </ion-toolbar> -->

    <!-- Default Segment -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="galleryType" color="medium" mode='md'>
    
       <ion-segment-button value="makan" mode='md'>
          Food
        </ion-segment-button>

        <ion-segment-button value="mvf" mode='md'>
          Myth vs Fact
        </ion-segment-button>
    
        <ion-segment-button value="quiz" mode='md'>
          Quiz
        </ion-segment-button>
    
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <!-- Myth Vs Fact -->

  <div [ngSwitch]="galleryType">
    
    <div *ngSwitchCase="'mvf'">
      <ion-card class='noBorder'>
        <ion-card-subtitle>
            Myth Vs Fact
          </ion-card-subtitle>
      </ion-card>

      <!-- <ion-card *ngFor='let answer of NewMythFact'>
        <ion-card-content>
            <ion-label> {{ answer.qn }} </ion-label>

            <ion-item>
                <ion-label>{{ answer.options[0].ans }}</ion-label>
                <ion-checkbox slot='start' [(ngModel)]='answer.checked' (ionChange)='onAnswerBoolean(answer)'></ion-checkbox>
             </ion-item>

             <ion-item>
                <ion-label>{{ answer.options[1].ans }}</ion-label>
                <ion-checkbox slot='start' [(ngModel)]='answer.factChecked' (ionChange)='onAnswerFact(answer)'></ion-checkbox>
             </ion-item>
            
        </ion-card-content>
      </ion-card>  -->

      <ion-card *ngFor='let answer of NewMythFact'>
        <ion-card-content>
          <ion-radio-group>

            <ion-list lines='none'>
              <ion-list-header>
                  <ion-text>{{ answer.qn }}</ion-text>
                </ion-list-header>


              <ion-item (click)='mythClick(answer)'>
                  <ion-label>{{ answer.optionA }}</ion-label>
                  <ion-radio slot="end" value="a"></ion-radio>
              </ion-item>

              <ion-item (click)='factClick(answer)'>
                  <ion-label>{{ answer.optionB }}</ion-label>
                  <ion-radio slot="end" value="b"></ion-radio>
              </ion-item>
            </ion-list>
          </ion-radio-group>
          <br>
          <ion-button class='ans' (click)='showAnswer(answer)'>Reveal Answer</ion-button>

        </ion-card-content>
      </ion-card>


    </div> <!-- end of  Myth vs Fact -->


    <!-- Quiz -->
    <div *ngSwitchCase="'quiz'">
      <ion-card class='noBorder'>
          <ion-card-content> 
              <img src='assets/Still Young Logo.svg'>
              <ion-text>What Confinement Food Ingredient Are You? Take this questionnaire to find out!</ion-text>
              <br>
              <br>
              <ion-button color='dark' expand='full' routerLink='/tabs/tab2'>Take Quiz</ion-button>
          </ion-card-content>
        </ion-card>   
    </div> <!-- end of Quiz Div -->

    <!-- Food -->
    <div *ngSwitchCase="'makan'">
        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
      </ion-refresher>

        <div>
    

          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-card-subtitle>
                      <ion-text class='myRecipe'>Recipes</ion-text>
                    </ion-card-subtitle>
              </ion-col>

              <ion-col>
                  <ion-buttons justify-content-end>
                      <ion-button (click)='presentPopover($event)'>
                        <ion-icon color='warning' slot="icon-only" name="more"></ion-icon>
                      </ion-button>
                    </ion-buttons>
              </ion-col>
            </ion-row>


              <ion-row>

                    <ion-slides pager="false" [options]="slideOpts"> 
                        
                        <!-- <ion-slide *ngFor='let makan of foodRecipe; let m = index' (click)='openRecipe(makan)'>
                            <ion-card class="welcome-card">
                                <ion-img [src]='makan.image'></ion-img>
                                <ion-card-header class='ion-text-left'>
                                  <ion-card-subtitle>{{ makan.name }}</ion-card-subtitle>
                                  <br>
                                  <ion-text>{{ makan.briefDes }} </ion-text>
                                  <br>
                                  <br>
                                  <ion-card-subtitle class='learnMore'>Learn More</ion-card-subtitle>
                                </ion-card-header>
                                
                              </ion-card>
                        </ion-slide> -->

                        <!-- Category -->
                        <ion-slide *ngFor='let makan of foodRecipe | unique; let m = index' (click)='openRecipe(makan)'>
                            <!-- <ion-card class="welcome-card">
                                <ion-card-header class='ion-text-left'>
                                  <ion-card-title>{{ makan.cat_name }}</ion-card-title>
                                </ion-card-header>
                                
                              </ion-card> -->

                              <ion-card class="welcome-card">

                                <img class='myPic' src='{{ makan.cat_img }}' class='cardImg'>
                                <div class="card-title">{{ makan.cat_name }}</div>
                                  
                                </ion-card>
                        </ion-slide>
                
                      </ion-slides>

            </ion-row>
          </ion-grid>
      

          <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card-subtitle>
                        <ion-text class='myArticles'>Articles</ion-text>
                      </ion-card-subtitle>
                </ion-col>
              </ion-row>
          </ion-grid>

          <br>

          <ion-list lines='none'>
              <ion-item (click)='presentModal(read)' *ngFor='let read of readArticles'>
                <ion-thumbnail slot="start">
                  <img src="{{ read.image }}">
                </ion-thumbnail>
                <ion-icon size='small' color='warning' slot='end' name='arrow-forward'></ion-icon>
                <ion-label>{{ read.name }} </ion-label>
              </ion-item>
          </ion-list>
        </div>
       

    </div> <!-- End of Food Div-->
  </div> <!-- End of main div -->
</ion-content>

