<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)='cancel()'>
                <ion-icon color='dark' name='md-close' slot='icon-only'></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngIf="platform.is('ios')">
            Confinement Practices
          </ion-title>
      
          <ion-title slot='end' *ngIf="platform.is('android')">
            Confinement Practices
          </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-text>
      <b>Confinement Practices</b>
      <br>
  
      It is often said that mothers should not shower or wash their hair during the whole confinement
process. But is this just a traditional practice to be followed or has it been proven by science?
Are you traditional or do you hate the traditional practices?
      <br>
      <br>
      In this tab, mothers will be able to find out if these common confinement practices are myths or
facts. A short and fun personality quiz can be done to find out which confinement style suits you.
      <br>
      <br>
      Disclaimer: Traditional versus Practicality. The key to confinement practices is being practical,
      comfortable, and safe. The results are for your guidance only, please consult your doctor when
      in doubt.
  
    </ion-text>
  
  </ion-content>