<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-button (click)='goBack()'>
        <ion-icon color='dark' src='assets/icon/arrow.svg'></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf='isLoaded'>
  <ion-card class='noBorder'>
    
    <ion-card-content>

        <ion-list lines='none' text-center>
          <ion-card-subtitle>STILL YOUNG • 修养</ion-card-subtitle>
        </ion-list>
      <br>
         <ion-list lines='none'>
             <ion-item (click)='openMail()' text-center>
                 <ion-label>
                   connectwithstillyoung
                 </ion-label>
                 <ion-icon src='assets/icon/mail-logo.svg' slot='start'></ion-icon>
                 <ion-icon size='small' color='warning' slot='end' name='arrow-forward'></ion-icon>
               </ion-item>
         </ion-list>
 
         <ion-list lines='none'>
             <ion-item (click)='openFacebook()' text-center>
                 <ion-label>
                   Facebook
                 </ion-label>
                 <ion-icon src='assets/icon/fb-logo.svg' slot='start'></ion-icon>
                 <ion-icon size='small' color='warning' slot='end' name='arrow-forward'></ion-icon>
               </ion-item>
         </ion-list>
       
         <ion-list lines='none'>
               <ion-item (click)='openInstagram()' text-center>
                 <ion-label>
                   Instagram
                 </ion-label>
                 <ion-icon src='assets/icon/ig-logo.svg' slot='start'></ion-icon>
                 <ion-icon size='small' color='warning' slot='end' name='arrow-forward'></ion-icon>
               </ion-item>
         </ion-list>
     
     </ion-card-content>
  </ion-card>

  <ion-card class='noBorder'>
    <ion-card-header>
      Powered & Supported By
      <br>
      <br>
      <ion-img src='assets/sayocode.png' id='myImg'></ion-img>
    </ion-card-header>
  </ion-card>
</div>

<!-- Skeleton -->
  <div *ngIf='!isLoaded'>

      <ion-card class='noBorder'>
    
          <ion-card-content>
        
              <!-- <ion-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>

              </ion-text> -->
              
              <ion-list lines='none' text-center>
                  <ion-skeleton-text animated style="width: 40%; display: block; margin-left: auto; margin-right: auto"></ion-skeleton-text>
                </ion-list>
              <br>

               <ion-list lines='none'>

                     <ion-item>
                        <ion-thumbnail slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                          <h3>
                            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                          </h3>
                        </ion-label>
                      </ion-item>

               </ion-list>

               <ion-list lines='none'>
  

                    <ion-item>
                       <ion-thumbnail slot="start">
                         <ion-skeleton-text animated></ion-skeleton-text>
                       </ion-thumbnail>
                       <ion-label>
                         <h3>
                           <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                         </h3>
                       </ion-label>
                     </ion-item>

              </ion-list>

              <ion-list lines='none'>

                    <ion-item>
                       <ion-thumbnail slot="start">
                         <ion-skeleton-text animated></ion-skeleton-text>
                       </ion-thumbnail>
                       <ion-label>
                         <h3>
                           <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                         </h3>
                       </ion-label>
                     </ion-item>

              </ion-list>
           
           </ion-card-content>
        </ion-card>
      
        <ion-card class='noBorder'>
          <ion-card-header>
              <ion-skeleton-text animated style="width: 50%; display: block; margin-left: auto; margin-right: auto"></ion-skeleton-text>
         
            <ion-skeleton-text animated style="width: 30%; display: block; margin-left: auto; margin-right: auto"></ion-skeleton-text>
          </ion-card-header>
        </ion-card>


  </div> 


</ion-content>
