@import '../../../theme/_BoxShadowNone';
@import '../../../theme/_HeaderImage';
@import '../../../theme/ToolBarColor';

img {
    width: 12%;
}

ion-skeleton-text {
    line-height: 18px !important;
}

ion-label {
    padding: .8vh !important;
}


#myImg {
    width: 25% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-card-header {
    font-family: 'Raleway', sans-serif !important;
    text-align: center !important;
    font-size: 15px !important;
    color: #000 !important;
}

ion-card-subtitle {
    font-size: 1.8vh !important; 
}