<ion-header no-border> 
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-img src='assets/x.png' class='headerImg'></ion-img>
  </ion-toolbar>
</ion-header>

<br>

<ion-content>
  <ion-card>
    
    <ion-card-content>
  
        <ion-text>
           We are a group of final-year students from Ngee Ann Polytechnic (Singapore) pursuing the Diploma of Chinese Media and Communication. We aim to raise awareness on the topic of Confinement to more females in the society through our final-year project. Do follow us on our social media for more exciting content! Thank you!
        </ion-text>
        <br>
         <ion-list lines='none'>
             <ion-item href='mailto:connectwithstillyoung@gmail.com' text-center>
                 <ion-label>
                   connectwithstillyoung <br> @gmail.com
                 </ion-label>
                 <ion-icon name='mail-open' slot='start'></ion-icon>
                 <!-- <img src='assets/mail.png' slot='start'> -->
               </ion-item>
         </ion-list>
 
         <ion-list lines='none'>
             <ion-item href='https://www.facebook.com/project.stillyoung' text-center>
                 <ion-label>
                   Facebook
                 </ion-label>
                 <!-- <img src='assets/fb.png' slot='start'> -->
                 <ion-icon name='logo-facebook' slot='start'></ion-icon>
               </ion-item>
         </ion-list>
       
         <ion-list lines='none'>
               <ion-item href='https://www.instagram.com/project.stillyoung' text-center>
                 <ion-label>
                   Instagram
                 </ion-label>
                 <ion-icon name='logo-instagram' slot='start'></ion-icon>
                 <!-- <img src='assets/ig.png' slot='start'> -->
               </ion-item>
         </ion-list>
     
     </ion-card-content>
  </ion-card>

  <ion-card class='noBorder'>
    <ion-card-header>
      Powered & Supported By
      <br>
      <br>
      <ion-img src='assets/sayocode.png' id='myImg'></ion-img>
    </ion-card-header>
  </ion-card>
</ion-content>