<ion-header no-border>
  <ion-toolbar>
      <!-- <ion-title>Timer</ion-title>
      <ion-buttons>
          <ion-button (click)='cancel()'>
              <ion-icon color='dark' name='md-close' slot='icon-only'></ion-icon>
          </ion-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="progress-wrapper">
        <div class="current" [ngStyle]="getOverlayStyle()" *ngIf='timeLeft > 0'>{{ timeLeft }}s</div>
        <div class="currentText" [ngStyle]="getOverlayStyle()" *ngIf='timeLeft == 0'>Time's up!</div>
      
        <round-progress
          [current]="timeLeft"
          [max]="max"
          [stroke]="stroke"
          [radius]="radius"
          [semicircle]="semicircle"
          [rounded]="rounded"
          [responsive]="responsive"
          [clockwise]="clockwise"
          [color]="gradient ? 'url(#gradient)' : color"
          [background]="background"
          [duration]="duration"
          [animation]="animation"
          [animationDelay]="animationDelay">
        </round-progress>

          <br />
          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-button class='ans' (click)="startTimer();">Start</ion-button>
              </ion-col>

              <ion-col>
                  <ion-button class='ans' (click)="pauseTimer();">Pause</ion-button>
              </ion-col>

              <ion-col>
                <ion-button class='ans' (click)="restartTimer();">Restart</ion-button>
            </ion-col>

            </ion-row>
          </ion-grid>

          <!-- <ion-button (click)="showBasicPicker()">Open Single Column Picker</ion-button> -->
      </div>
</ion-content>


