<ion-header no-border>
  <ion-toolbar>
    <ion-title>FOOD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-card class='noBorder'>

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card-subtitle>
                <ion-text>Recipes</ion-text>
              </ion-card-subtitle>
        </ion-col>

        <ion-col>
            <ion-buttons justify-content-end>
                <ion-button (click)='presentPopover($event)'>
                  <ion-icon color='warning' slot="icon-only" name="more"></ion-icon>
                </ion-button>
              </ion-buttons>
        </ion-col>
      </ion-row>


        <ion-row>

              <ion-slides pager="false" [options]="slideOpts"> 
                  
                  <ion-slide *ngFor='let makan of foodRecipe; let m = index' (click)='openRecipe(makan)'>
                      <ion-card class="welcome-card">
                          <ion-img [src]='makan.image' ></ion-img>
                          <ion-card-header class='ion-text-left'>
                            <ion-card-subtitle>{{ makan.name }}</ion-card-subtitle>
                            <br>
                            <ion-text>{{ makan.briefDes }} </ion-text>
                            <br>
                            <br>
                            <ion-card-subtitle class='learnMore'>Learn More</ion-card-subtitle>
                          </ion-card-header>
                          <!-- <ion-card-content>
                            <ion-card-subtitle>Learn More</ion-card-subtitle>
                          </ion-card-content>
         -->
                        </ion-card>
                  </ion-slide>
          
                </ion-slides>
      </ion-row>
    </ion-grid>


   </ion-card>


</ion-content>
