<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)='cancel()'>
                <ion-icon color='dark' name='md-close' slot='icon-only'></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngIf="platform.is('ios')">
            Confinement Food
          </ion-title>
      
          <ion-title slot='end' *ngIf="platform.is('android')">
            Confinement Food
          </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>
    <b>Confinement Food</b>
    <br>

    During confinement, your diet plays an important role with your healing. It is therefore important
    to consume a balanced diet for recovery and recuperating your body. Some food like ginger
    and red dates are recommended for consumption during confinement due to their benefits
    which aids in your healing. But is it necessary to always consume them?
    <br>
    <br>
    In this tab, recipes are provided to mothers and mothers can learn more about the
    recommended cooking methods and their benefits. Mothers can also learn what food items are
    encouraged and what is not.
    <br>
    <br>
    Disclaimer: The key to confinement food is a healthy balanced diet to ensure mothers receive
    nutrients required for recovery. It is also important for mothers to take note of their own allergy
    and consult their doctor when in doubt.

  </ion-text>

</ion-content>
