
.swipe-area {
    height:100%;
    width:100%;
  }

ion-tab-button {
  --color-selected: black;
  
}

ion-label {
  margin-top: .8vh !important;
}

// ion-tab-bar {
//   padding: .5vh !important;
//   padding-bottom: 2vh !important;
// }