<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-button (click)='cancel()'>
              <!-- src='assets/icon/arrow.svg' -->
              <ion-icon color='dark' name='md-close' slot='icon-only'></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title *ngIf="platform.is('ios')">
        Myth
      </ion-title>
  
      <ion-title slot='end' *ngIf="platform.is('android')">
        Myth
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class='noBorder'>
        <ion-card-content>
                <ion-text> {{ getValue[0].cardInfo }} </ion-text>
        </ion-card-content>
    </ion-card>
</ion-content>
