<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)='cancel()'>
                <ion-icon color='dark' name='md-close' slot='icon-only'></ion-icon>
            </ion-button>
        </ion-buttons>
  
        <ion-title>Food to Avoid</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class='noBorder'>
        <ion-card-content>
            Due to the ‘Qi’ and blood loss during the giving process, it is important for mothers to have the right diet during confinement to ensure that they replenish their body needs, especially when their bodies are weak after giving birth. One of the confinement’s principles stated that it would be important for mothers to consume “the right medicine” to replenish their body. Hence, apart from consuming nutritious food, it is also important for mothers to avoid foods that may cause harm to their body.
<br><br>
<b>Shellfish</b><br>
Seafood like Crabs, Prawn are considered the ‘cold’ element which may easily cause allergic reactions, diarrhea or abdominal pain as mothers immune system and stomach are considered weak after giving birth. Also, shellfish food are considered to be ’poisonous’ food which may cause infection to the wound or even slow down the healing process of the wound. Last but not least, the toxins in seafood will affect the mother’s breast milk which may easily cause their children to have eczema due to weak immune system.
High in Mercury Content Seafood
Many mothers may think or consider Salmon and Tuna to be very nutritional as it may help in producing breast milk. However, Salmon and Tuna are found to be high in mercury content which may cause digestive systems to be in discomfort. This may then cause mothers to have diarrhea and vomiting, which slows down the healing process.


<br><br>
<b>Cabbage</b><br>
Cabbages are considered as a ‘cold’ food, and hence may cause abdominal pain for mothers with weak stomach. During confinement period, mother’s body are considered to be ‘cold’ as well. Hence, if they consume cabbages, it may cause them to have Hives or ​Urticaria.


<br><br>
<b>Cold Drinks</b><br>
Mothers should also avoid drinks like bubble milk tea, soft drinks or drinks that are high in sugar content during their confinement period. If mothers were to consume a high amount of sugar during their confinement, the collagen levels in their body would be affected, which will slow down the healing process. On the other hand, cold drinks will not only bring a negative impact to Mothers whose bodies are already considered ‘cold’, their wombs will also be affected and swelling might also be observed.


<br><br>
<b>Hotpot</b><br>
Everyone naturally love hotpot and hence, mothers may crave for hotpot during confinement to warm their bodies up. However, the process of cooking hotpot may cause cross contamination as raw ingredients are mixed with the cooked ingredients. This may cause bacteria contamination and hence, causing mothers with weak digestive systems to have food poisoning and diarrhea.

<br><br>
<b>Greasy and Spicy Food</b><br>
Spicy food can cause constipation or diarrhea, and when mixed with chinese herbs may cause bodies to be very ‘hot’. Mothers should also avoid greasy food as it may cause severe health issues .

<br><br>
<b>Raw Food</b><br>
Raw food (e.g sashimi) may contain bacteria which can cause severe abdominal pain and diarrhea and hence causing the process of recuperation of wounds and ligament to slow down. Raw food may also cause joint pains.

<br><br>
<b>Caffeine and Alcoholic Content</b><br>
Caffeine and Alcoholic content can increase heartbeat, which cause one to be very excited, anxious which causes ​insomnia​. Also, the caffeine and alcoholic content will affect mother’s breast milk content. This may cause their children to indirectly consume these contents and affect their health.

<br><br>
<b>High in Salt Content</b><br>
Consuming too much salt content can cause mothers to have more serious water retention issues after birth. Hence, consuming less salt content can increase mother’s metabolism rate and reduce water retention in their body.

<br><br>
<b>Acidic Food Content</b><br>
Breastfeeding mothers should avoid acidic fruits as they are cooling. Apart from causing harm to the mother’s body and uterus, acidic fruits also affects the developement of the child’s digestive tract.

<br><br>
<b>Garlic</b><br>
Garlic taste may cause mother’s breast milk to have a smell and taste which causes babies to refuse their mother’s milk. Hence, mothers should avoid food with garlic content.

<br><br>
<b>Coconut</b><br>
Coconut is one of the fruits commonly consumed in warm countries to relieve heat. However, due to its ‘cooling’ properties, mothers who have a weaker body constitution should avoid them to prevent the slowing down of her recuperation process.
https://www.babyment.com/nutrition/safe-to-eat.php?food=Cabbage https://www.tianweisignature.com/what-food-should-you-avoid-in-your-confinement-period/ https://pemconfinement.com/foods-to-avoid-during-confinement-period/
        </ion-card-content>
    </ion-card>
  </ion-content>

 