
ion-card {
    box-shadow: none !important;

}


.optionName {
    background-color: #000;
    color: #fff;
    border-radius: 0 !important;
    padding: 13px;
    text-align: center;
}

ion-img {
  width: 55% !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

ion-content {
  overflow: hidden;
}

.slides-ios {
    --progress-bar-background-active: black !important;
  }

  .ans {
    --background: #F5DDD0;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to bottom, #ffdde1, #F5DDD0);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to bottom, #ffdde1, #F5DDD0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --color: black;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px !important;
    width: 100% !important;
    padding: 1.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .resetCard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }
  
  .ansMe {
    --background: #F5DDD0;  /* fallback for old browsers */
    --background: -webkit-linear-gradient(to bottom, #ffdde1, #F5DDD0);  /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to bottom, #ffdde1, #F5DDD0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --color: black;
    font-family: 'Raleway', sans-serif;
    --border-radius: 20px !important;
    width: 100% !important;
  }

@import '../../theme/BoxShadowNone';
@import '../../theme/ToolBarColor';
