<ion-header no-border>
  <ion-toolbar >
      <ion-buttons slot='secondary'>
          <ion-button (click)='goBack()'>
        <ion-icon color='dark' src='assets/icon/arrow.svg'></ion-icon>
          </ion-button>
      </ion-buttons>
      
    <ion-title>
      Personality Quiz
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar color='dark' [value]='progress'></ion-progress-bar>
</ion-header>

<ion-content padding>
  
  <!-- <ion-card *ngFor='let qn of returnData; let i = index'>
    <ion-card-content >
        <ion-img [src]="qn.image"></ion-img>
        <br>

      <ion-text> {{ qn.question}} </ion-text>

      <ion-card class='optionName' *ngFor='let options of qn.answerOption; let a = index' (click)='selectAnswer(options)'>
        {{ options.name }}
      </ion-card> 

    </ion-card-content>
  </ion-card> 
</ion-content>  -->

<!-- <ion-footer>
    <ion-toolbar>
        <ion-button expand="full" (click)='submitBtn()' color='primary'>Submit</ion-button>
    </ion-toolbar>
  </ion-footer> -->
  
<ion-content>
  <ion-grid>
      <ion-row>

          <ion-slides pager="false" [options]="slideOpts" #slides> 
            
              <ion-slide *ngFor='let qn of returnData; let i = index'>
                  <ion-card class="welcome-card" class='noBorder'>
                    <br>
                      <ion-img *ngIf='qn.image' src='{{ qn.image }}'></ion-img>
                      <ion-card-header *ngIf='qn.image' class='ion-text-left'>
                        <ion-card-subtitle> {{ qn.qn_number }} </ion-card-subtitle>
                        <ion-text>{{ qn.question }} </ion-text>

                      </ion-card-header>
                      <ion-card-content>
                          <!-- <ion-card class='optionName' *ngFor='let options of qn.answerOption; let a = index' (click)='selectAnswer(options)'>
                              {{ options.name }}
                            </ion-card>  -->

                            <ion-button class='ans' *ngFor='let options of qn.answerOption; let a = index' (click)='selectAnswer(options)'>
                              {{ options.name }}
                            </ion-button>

                            <!-- Results -->
                            <img src=' {{ qn.pic }} ' *ngIf='qn.resetBtn'>
                            <br *ngIf='qn.resetBtn'>
                            <ion-card-subtitle *ngIf='qn.resetBtn'>{{ qn.final }} </ion-card-subtitle>
                            <br *ngIf='qn.resetBtn'>
                            <ion-text *ngIf='qn.resetBtn'>{{ qn.results }}</ion-text>
                            <br *ngIf='qn.resetBtn'>
                            <br *ngIf='qn.resetBtn'>
                            
                            <ion-grid>
                              <ion-row>
                                <ion-col>
                                  <ion-button class='ansMe' *ngIf='qn.resetBtn' (click)='restartQuiz()'>{{ qn.resetBtn }} </ion-button>
                                </ion-col>

                                <ion-col>
                                  <ion-button class='ansMe' *ngIf='qn.resetBtn' (click)='goHome()'>{{ qn.home }}</ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-grid>

                      </ion-card-content>
                    </ion-card> 
              </ion-slide>
      
            </ion-slides>
          
      </ion-row>
  </ion-grid>
</ion-content> 