@import '../../theme/_HeaderImage';
@import '../../theme/BoxShadowNone';
@import '../../theme/ToolBarPadding';

ion-card {
  border-radius: 13px !important;
  max-height: 100vh !important;
  overflow: hidden !important;
}

.slides-ios {
  --progress-bar-background-active: black !important;
}

.milk {
  width: 8%;
  display: inline-block;
  position: relative;
  top: .8vh;
}
