
<!-- <ion-row>
    <ion-card>
        <ion-card-content *ngFor='let random of randomQuote'>
          <ion-card-subtitle id='verse'>Quote of the Day &nbsp;
          <img src='assets/tilted-bottle.svg' class='milk'>
          </ion-card-subtitle>
          <ion-text>"{{ random }}"</ion-text>
        </ion-card-content>
      </ion-card>
</ion-row> -->

  <ion-header no-border>
      <ion-toolbar>
              <ion-buttons justify-content-end>
                    <ion-button (click)='openMilk()'>

                  <ion-icon color='dark' slot='icon-only' src='assets/tilted-bottle.svg'></ion-icon>
                    </ion-button>
                </ion-buttons> 

        <ion-title>Still Young</ion-title>
      </ion-toolbar>
    </ion-header>

<div padding class='datePadding'>
          <ion-note color='dark'>{{ text }}</ion-note> <br>
          <ion-note color='dark'>{{ today | date:'fullDate' }}</ion-note>
</div>

<div class='segButton'>
    <ion-segment [(ngModel)]="galleryType" color="dark" mode='md'>
        <ion-segment-button value="a" mode='md'>
          Stage A
        </ion-segment-button>
    
        <ion-segment-button value="b" mode='md'>
          Stage B
        </ion-segment-button>
    
        <ion-segment-button value="c" mode='md'>
            Stage C
        </ion-segment-button>
      </ion-segment>
</div>

<!-- NEW -->
<ion-content padding>

    <div [ngSwitch]="galleryType">
        <div *ngSwitchCase="'a'">
          <img src='assets/moon.svg' class='moon'>
          <ion-card padding>
            Explanation of A
          </ion-card>
        </div>

        <div *ngSwitchCase="'b'">
          <img src='assets/night.svg' class='moon'>
          <ion-card padding>
            Explanation of B
          </ion-card>
        </div>

        <div *ngSwitchCase="'c'">
          <img src='assets/not-found.svg' class='moon'>
          <ion-card padding>
            Explanation of C
          </ion-card>
        </div>
    </div>

</ion-content>
  
  <!-- <ion-content #pageContent fullscreen> -->
   <!-- <ion-content padding>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
      </ion-refresher>

    <ion-grid>
      <ion-row>

        <ion-col size='8'>
        <ion-card-subtitle color='dark' class='threeStages'>3 Stages of Confinement</ion-card-subtitle>
      </ion-col>

      <ion-col>
        <ion-buttons justify-content-end class='threeStagesBtn'>
            <ion-button (click)='presentActionSheet()'>
              <ion-icon color='warning' class='myIcon' slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>

          <ion-slides pager="true" [options]="slideOpts" color='dark'> 
            
              <ion-slide>
                  <ion-card class="welcome-card">
                    <br>
                      <ion-img src='assets/stageOne.svg'></ion-img>
                      <ion-card-header>
                        <ion-card-subtitle>Womb Recovery</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vel esse, voluptatum necessitatibus maiores atque.
                      </ion-card-content>
                    </ion-card>
              </ion-slide>
      
              <ion-slide>
                  <ion-card class="welcome-card">
                    <br>
                      <ion-img src='assets/stageTwo.svg'></ion-img>
                      <ion-card-header>
                        <ion-card-subtitle>Replenishment of Qi and Blood</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quasi natus distinctio, ut reprehenderit rerum.
                        </ion-card-content>
                    </ion-card>
              </ion-slide>
      
              <ion-slide>
                  <ion-card class="welcome-card">
                    <br>
                      <ion-img src='assets/stageThree.svg'></ion-img>
                      <ion-card-header>
                        <ion-card-subtitle>Boost and Regain Vitality</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias corrupti officia, laboriosam animi dolorem itaque.
                        </ion-card-content>
                    </ion-card>
              </ion-slide>
      
            </ion-slides>
          
      </ion-row>

    </ion-grid>
  
  
  </ion-content>
   -->