@import '../../theme/_HeaderImage';
@import '../../theme/BoxShadowNone';
@import '../../theme/ToolBarPadding';
//@import '../../theme/ToolBarColor';

ion-card {
  // min-height: 100vh !important;
  overflow: hidden !important;
  min-height: 15vh !important;
  width: 85% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.swiper-pagination-bullet-active {
  --bullet-background: #000 !important;
}

ion-card-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2vh;
  text-align: center;
}

ion-text {
  font-family: 'Raleway', sans-serif;
  font-size: 2vh;
  text-align: center;
  display: block;
}


ion-img {
  width: 50% !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.datePadding {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 15vh;
  text-align: center;
  padding-top: 4.5vh;  
}

.moon {
  width: 100% !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.dateTxt {
  padding-right: 3vh !important;
}

.morningTxt {
  letter-spacing: .1vh !important;
  font-size: 3vh;
}

.myIcon {
  padding-bottom: 2vh !important;
}

.threeStages {
  padding-left: 1vh !important;
}

.slides-ios {
  --progress-bar-background-active: black !important;
}

// .getMsg {
//   color: #000 !important;
//   font-family: 'Acme', sans-serif;  
//   letter-spacing: 0.05vh !important;
//   text-align: center !important;
  
// }


ion-slide {
  padding-bottom: 4vh !important;
  
}

ion-slides {
  --bullet-background-active: #000 !important;
}
