<!-- <ion-header no-border [scrollHide]="headerScrollConfig" [scrollContent]="pageContent"> -->
  <ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <!-- <ion-img src='assets/x.png' class='headerImg'></ion-img> -->
  </ion-toolbar>
</ion-header>
  
  <!-- <ion-content #pageContent fullscreen> -->
   <ion-content>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
      </ion-refresher>
    
    <ion-grid>
      <!-- <ion-row>
          <ion-card>
              <ion-card-content *ngFor='let random of randomQuote'>
                <ion-card-subtitle id='verse'>Verse of the Day</ion-card-subtitle>
                <ion-text>"{{ random }}"</ion-text>
              </ion-card-content>
            </ion-card>
      </ion-row> -->
  
      <!-- <ion-row>
        <ion-col style='color: #808080'>
          &nbsp; Latest
        </ion-col>
  
        <ion-col>
            <ion-buttons justify-content-end>
                <ion-button routerLink="/tabs/practices">
                  <ion-icon color='warning' slot="icon-only" name="more"></ion-icon>
                </ion-button>
              </ion-buttons>
        </ion-col>
      </ion-row> -->
  
      <ion-row>
          <ion-slides pager="true" [options]="slideOpts"> 
            
              <ion-slide>
                  <ion-card class="welcome-card" class='noBorder'>
                      <ion-img src='assets/stageOne.svg'></ion-img>
                      <ion-card-header>
                        <ion-card-subtitle>Get Started</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        <p>Now that your app has been created, you'll want to start building out features and components.</p>
                      </ion-card-content>
                    </ion-card>
              </ion-slide>
      
              <ion-slide>
                  <ion-card class="welcome-card" class='noBorder'>
                      <ion-img src='assets/stageTwo.svg'></ion-img>
                      <ion-card-header>
                        <ion-card-subtitle>Get Started</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                          <p>Now that your app has been created, you'll want to start building out features and components.</p>
                        </ion-card-content>
                    </ion-card>
              </ion-slide>
      
              <ion-slide>
                  <ion-card class="welcome-card" class='noBorder'>
                      <ion-img src='assets/stageThree.svg'></ion-img>
                      <ion-card-header>
                        <ion-card-subtitle>Get Started</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                          <p>Now that your app has been created, you'll want to start building out features and components.</p>
                        </ion-card-content>
                    </ion-card>
              </ion-slide>
      
            </ion-slides>
          
      </ion-row>
    </ion-grid>
  
    
  
  </ion-content>
  