<!-- 
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card class='noBorder'>
          <img src='assets/app.svg'>
        <ion-card-content>
          <ion-card-subtitle>Welcome</ion-card-subtitle>
          <ion-card-title>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ullam.</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-grid>
        <ion-row>
          <ion-col>
            SKIP
          </ion-col>

          <ion-col>
            BYE
          </ion-col>

          <ion-col>
            NEXT
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-footer> -->