<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)='cancel()'>
                <ion-icon color='dark' name='md-close' slot='icon-only'></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngIf="platform.is('ios')">
            Lactation
          </ion-title>
      
          <ion-title slot='end' *ngIf="platform.is('android')">
            Lactation
          </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-text>
        <b>Lactation</b>
        <br>
        After delivery, mothers are recommended to breastfeed their children. The World Health
        Organization recommends exclusive breastfeeding up to at least 6 months. However, during the
        initial stage, most mothers are often faced with common issues such as engorgement, blocked
        milk ducts, oversupply of milk, mastitis and more.
        <br>
        <br>
        In this tab, we will be addressing these concerns while providing tips and solutions.
        <br>
        <br>
        Disclaimer: Different mothers have different breastfeeding experience, while there are plenty of
        advice, it is more important for mothers to explore the different solutions to see what suits them
        best and what not. Breastfeeding should be a comfortable journey and breast milk is the most
        recommended milk for the baby. If in doubt, mothers should always go to a lactation consultant.
    </ion-text>
  
  </ion-content>
