// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

ion-tab-button {
  --color-selected: #B89764;
}

// ion-toolbar {
//   --min-height: 100px !important;
// }

/** Ionic CSS Variables **/
:root {
  
  ion-tab-bar {
    border: none !important;
    box-shadow: 10px 10px 15px grey !important;
  }

  /** Custom Colors for Still Young **/
  --ion-color-youngGold: #B89764;
  --ion-color-youngGold-rgb: 184,151,100;
  --ion-color-youngGold-contrast: #fff;
  --ion-color-youngGold-contrast-rgb: 0,0,0;
  --ion-color-youngGold-shade: #a28558;
  --ion-color-youngGold-tint: #bfa174;

  /** Custom White Color **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #808080;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #303030;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium - Still Young Color **/
  // --ion-color-medium: #B89764; // Gold 
  // --ion-color-medium-rgb: 152, 154, 162;
  // --ion-color-medium-contrast: #ffffff;
  // --ion-color-medium-contrast-rgb: 255, 255, 255;
  // --ion-color-medium-shade: #86888f;
  // --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}


.ion-color-youngGold {
  --ion-color-base: var(--ion-color-youngGold) !important;
  --ion-color-base-rgb: var(--ion-color-youngGold-rgb) !important;
  --ion-color-contrast: var(--ion-color-youngGold-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-youngGold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-youngGold-shade) !important;
  --ion-color-tint: var(--ion-color-youngGold-tint) !important;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
  --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-white-shade) !important;
  --ion-color-tint: var(--ion-color-white-tint) !important;
}