<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-button (click)='cancel()'>
              <ion-icon color='dark' name='md-close' slot='icon-only'></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title *ngIf="platform.is('ios')">
        Methods of Cooking
      </ion-title>
  
      <ion-title slot='end' *ngIf="platform.is('android')">
        Methods of Cooking
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class='noBorder'>
      <ion-card-content>
        <ion-text>
          Mothers are encouraged to choose healthier food during confinement period to ensure that they absorb enough nutrients and vitamins. Other than using fresh ingredients, the cooking methods play important roles in dish preparations too.
          Methods of cooking affect the nutritional content of a dish and thus, it is very important to choose the right method to cook the food. Here, we recommend you 4 different cooking methods which mothers can learn and prepare confinement food for themselves.
          <br><br>
          
          <b>1. Boiling (Blanching)</b>  <br>
          The standard procedure in boiling requires the water to boil first followed by the adding of the ingredients till cooked and this is why timing in boiling is key. Boiling food may taste bland but it is assured that you are able to taste the original flavour of each ingredient. In addition, boiling does not affect the fat content of the food that is being cooked.
          However, mothers have to be well aware of the timing involved in boiling/blanching as it affects the nutrient loss of the ingredients into the water. Consuming over-boiled/blanched food will cause mothers to not be able to absorb sufficient nutrients. During such instances, mothers are encouraged to consume the water used for boiling with the food cooked to ensure that existing nutrients are absorbed as well.
          <br><br><b>2. Steaming Taste:</b> <br>
          Steaming suits mother who are conscious over the food calories as this cooking method does not involve any oil or fats. Steaming also retains the nutrient content of each ingredient which ensures mothers absorbing sufficient nutrients when consuming their food.
          As mothers’ stomachs will be slightly weaker during confinement period, they may face indigestion issues and may not be able to completely absorb the nutrients in the food consumed. However, steaming will soften the dietary fibre present in the food which solves the indigestion problems faced by mothers.
          <br><br><b>3. Stewing</b> <br>

          Stewing requires lesser amount of oil, and sometimes none oil is required. Although stewing requires a longer cooking time, lesser moisture and nutrients are lost as they do not evaporate easily. This results in more tenderness among the ingredients stewed, making the dish easily digestible.
 
          If boiling/blanching does not satisfy the mother’s taste buds, stewing will definitely satisfy their taste buds. With adequate stewing timings of meat, the meat can be tenderised yet retaining its juice in the soup, ensuring the dish to be tasty and nutritious.
          <br><br><b>4. Stir-frying</b> <br>
  
          Stir-frying is one of the healthy cooking options as it is less time-consuming and also requires less oil. Mothers can opt for vegetable oil to increase the nutritional value of the meal. However, olive oil is recommended as it is not only a healthier choice, but also enables the food to turn more flavorful. In addition, stir-fried food contains fat soluble enzymes which can only dissolve into the body system with the aid of the grease. Hence, the combination of fat soluble enzymes and olive oil is effective in helping the body to absorb vitamins.
          The four cooking methods provided each have their own benefits and mothers are free to choose them based on their own health condition or liking. We hope that more mothers will choose the above-mentioned cooking methods more often while eating healthily during their confinement process!
        </ion-text>
        </ion-card-content>
    </ion-card>

</ion-content>
