// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

@import '../theme/ToolBarPadding';

ion-title {
    // font-family: 'Raleway', sans-serif;
    // letter-spacing: 1px;
    font-family: 'Acme', sans-serif;
    font-size: 2.8vh;
    letter-spacing: .15vh;
    
}

ion-label, ion-note {
    font-family: 'Raleway', sans-serif !important;
    //font-family: 'Cantarell', sans-serif;
}

.swal2-styled.swal2-confirm {
    color: #403e3e !important;
    font-family: 'Raleway', sans-serif !important;
    background-color: #ffdde1 !important;
}


// .button-inner.sc-ion-back-button-ios {
//     display: inline-block !important;
//     // bottom: 18vh !important;
//     // position: absolute !important;
//     // left: 3vh !important;
//     position: absolute;
//     bottom: 25vh;
//     left: 3vh;
// }

// ion-content {
//     --ion-background-color:#f5f5f5;
// }