<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-button (click)='goBack()'>
        <ion-icon color='dark' src='assets/icon/arrow.svg'></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title *ngIf="platform.is('ios')">
        Chill
      </ion-title>
  
      <ion-title slot='end' *ngIf="platform.is('android')">
        Chill
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-text class='center-chill'>You belong to the Chill personality. Here's a set of practice for you.</ion-text>
    <br>
    <br>
    <br>
    <ion-item lines='none'>
      <img src="assets/Practices/drinking-water.svg"> &nbsp; &nbsp; &nbsp;
    <ion-note color='dark'>Minimally consume boiled warm water daily</ion-note>
    </ion-item>
    <br>
    <ion-item lines='none'>
        <img src="assets/Practices/workout.svg"> &nbsp; &nbsp; &nbsp;
      <ion-note color='dark'>Casually walk around the house as you like</ion-note>
      </ion-item>
      <br>
      <ion-item lines='none'>
          <img src="assets/Practices/wind.svg"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-note color='dark'>Use either the air-conditioner or fan as you prefer but it should not be blowing at your directly</ion-note>
        </ion-item>
        <br>
    <ion-item lines='none'>
        <img src="assets/Practices/bathing.svg"> &nbsp; &nbsp; &nbsp; &nbsp;
      <ion-note color='dark'>Shower and wash your hair with warm water after delivery</ion-note>
      </ion-item>

</ion-content>
