@import '../../theme/BoxShadowNone';
@import '../../theme/ToolBarColor';

ion-text {
    padding-left: 3vh !important;
}

.learnMore {
    text-align: center !important;
    position: fixed;
    bottom: 21px;
    right: 0;
    left: 0;
}

ion-card {
    min-height: 50vh !important;
}

ion-skeleton-text {
    line-height: 15px !important;
}

.custom-skeleton ion-skeleton-text {
    line-height: 123px !important;
    margin: 0 !important;
  }

.noBorder {
    text-align: center !important;
    font-size: 2vh !important;
    padding-top: 10vh !important;
}