<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)='goBack()'>
          <ion-icon color='dark' src='assets/icon/arrow.svg'></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngIf="platform.is('ios')">
            Before
          </ion-title>
      
          <ion-title slot='end' *ngIf="platform.is('android')">
            Before
          </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text>
        Breastfeeding is an important and personal postpartum process part of your confinement and it may lasts till even after confinement. Breastfeeding may be difficult to some during initial stage, but it can all be solved. The recommended feeding intervals is between two to three hours but this varies from babies to babies, and it is important for mothers to look out for babies cues.
        <br><br>
        The breast milk contains antibodies and nutrients for the babies. While the content of the breast milk can be largely affected by what the mother consumed, mothers should not be too worried about what they consume. The key to the diet should be a healthy and balanced meal.
        <br><br>
        We usually recommend direct latching and there is no need to pump as the body will help to regulate the amount required by baby naturally. If mummies experience low milk supply, after feeding the baby directly, mothers can pump the remaining milk out to stimulate more milk production
        <br><br>
        It is normal for your breasts to become larger and feel heavy, warmer and uncomfortable when your milk increases in quantity 2 - 5 days after child birth but this rarely lasts for more than 24 hours ; when this happens, milk flow is normal and latch-on is not affected.
        <br><br>
        Breastfeeding after a Cesarean birth:
        https://kellymom.com/ages/newborn/newborn-concerns/c-section/
        <br><br>
        <b>How should I prepare to Breastfeed?</b> <br>
A mother does not need to prepare her body for breastfeeding. During pregnancy, a mother should be familiar with the basics of breastfeeding through reading, attending antenatal breastfeeding classes and spending time with breastfeeding mums.
Mothers can research and build up a list of sources of support to turn to after birth. We advise mothers to plan for an active and alert birth, minimising the use of medications during labour and birth. Mothers can request to keep your baby with you, day and night in the hospital.
        <br><br>
        <b>How is Breast Milk produced?</b> <br>
        Breast Milk is produced by the supply and demand principle. <br>
        <ul>
        <li>As milk is removed from your breast, your body will receive the message to
                produce more milk.</li>
        <li>The emptier the breast is kept, the greater the rate of milk production</li>
        <li>This indicates that frequent feeding of the baby would ensure that your body will produce amples amounts of milk.</li>
        <li>Extra reads: How does milk production work? [​https://kellymom.com/pregnancy/bf-prep/milkproduction/​]</li>
        </ul>
        <b>How should I help my baby to feed?</b> <br>
There are two different types of latching styles (mother-led or baby-led) and your choice of style would depend on your individual circumstances. Most mothers find that a combination of both styles would work best.
        <br>
        

        <br>
       <b> How soon after birth should I breastfeed my baby?</b> <br>
       <ul>
    <li>You should have skin-to-skin contact with your newborn as soon as possible, after birth.</li>
    <li>If your newborn is undisturbed, he/she will naturally attach to your breast and begin the
breastfeeding process.</li>
<li>If you have a caesarean birth, you should work with your birth team to arrange for
skin-to-skin closeness with your newborn as soon as possible, after birth.</li>
</ul>
<br>
<b>How do I know when my baby needs to feed?</b> <br>
Your baby will indicate his / her need to breastfeed through his / her behaviour and body movements. You should respond to your baby’s earliest feeding cues.
<br><br>Early cues include stirring, opening his / her mouth and rooting. Mid cues include increasing physical movements such as hand-to-mouth actions. Late cues include crying and agitated body movements.
<br><br>A distressed and crying baby may have difficulty latching on and being fed effectively. Do calm the baby down gently before trying to feed him / her.

<br>
<br>
<b>How long should I feed my baby for?</b><br>
It is not necessary to breastfeed from each breast for a fixed length of time. Feed from one side for as long as your baby wants and once your baby is done, he/she will drift off to sleep.
<br><br>After which, unlatch, burp him/her, change his/her diaper and offer the other breast. At the next feed, you should start with the breast that you finished on at the last feed. If you are feeling unsure, do speak to a breastfeeding counsellor who can check the latch and share relevant ideas.
<br><br>
<b>How often does my newborn need to be breastfed?</b> <br>
Newborns have tiny stomachs and require frequent fill-ups, both during the day and at night.
<br><br>In the early weeks, babies need to be breastfed 10-12 times in a span of 24 hours. Many newborns cluster feed or have very frequent feeds in the evening. How often your newborn needs to be breastfed is determined based on your individual baby’s needs and your breast storage capacity.
<br><br>
<ion-img src='assets/lol2.png'></ion-img>
<br>
<b>Is my baby getting enough milk?</b><br>
<ul>
    <li>Your baby’s diaper output would be a good indicator of whether he / she is getting enough milk.</li>
</ul>

<ion-img src='assets/lol3.png'></ion-img><br>
<ion-img src='assets/lol4.png'></ion-img> <br>
Note: Your baby’s first bowel movements (meconium) will be thick, black and tar-like. However, within 24 - 48 hours, this will become less sticky and more yellowish-green. By the 5th day, your baby should be passing 2 - 5 yellow, runny bowel movements. After 6 weeks, some breastfed babies will pass stools 3 times a day, while other babies have bowel movements once a week.

<ul>
    <li>Observe baby’s sucking</li>
    - When a baby is drinking a good amount, deep, rhythmic sucking, with 1 or 2
    sucks followed by a swallow, will be observed. <br>
    - When a baby is drinking a lesser amount than he / she requires, light, fluttery
    sucking, with several sucks then a swallow, will be observed.

    <li>Check your baby’s weight gain</li>
    - Babies will usually lose 10% of their birth weight in the first 2 - 3 days, regaining this by the 14th day, After which, they gain about 30g daily. <br>
    - If you are concerned about your baby’s weight gain, you should visit a breastfeeding counsellor or a lactation consultant. <br>
    - Extra reads: http://kellymom.com/bf/got-milk/supply-worries/enough-milk/
    
</ul>

<b>When can I introduce bottles to my breastfed baby​?</b><br>
Bottle-feeding is only one of the many ways to feed a baby when he / she is not latched directly to the breast. Other ways include:
<ul>
    <li>Finger-feeding</li>
    <li>Cup-feeding</li>
    <li>Spoon-feeding</li>
</ul>

Bottles should be introduced after breastfeeding is established, usually when your baby is at 4 - 6 weeks of age. Different jaw and tongue movements are needed for breast and bottle-feeding. Introducing a bottle to a breastfeeding newborn would indicate that he / she has to learn to suckle in 2 different ways. Milk also flows from a bottle nipple at a steadier and faster rate. Your breastfeeding newborn might come to prefer the bottle.
   <br>
   <br>
   <b>Is it ok to breastfeed directly during the day, and have a caregiver bottle-feed at night?</b><br>
Prolactin levels are higher at night. They also surge more in response to baby’s feeding. This way, night feeds would encourage milk production. Expressing milk to keep up your supply, while baby is bottle-fed and cared for by another caregiver at night, is sometimes suggested as a
way of getting longer stretches of sleep. However, pump expression does not stimulate milk production as effectively as your baby’s strong suck
<br><br>
<b>Should I feed my breastfed baby water?</b><br>
87% of Breast Milk is made up of water. Even in Singapore’s hot and humid climate, babies need only breast milk for the first 6 months of life.
<br>
Any water consumed may take up space in your baby’s tummy, reducing suckling and Breast Milk intake. <br>
- Extra Read: http://kellymom.com/nutrition/starting-solids/baby-water/
<br><br>

<b>Does breastfeeding hurt? How do I prevent sore nipples?</b><br>
Breastfeeding should not hurt. Sore nipples often occurs when the baby is not latched on properly. Your baby may not be feeding effectively and getting enough milk due to the poor latching. If you experience any soreness, do seek help from a breastfeeding counsellor.
My newborn has jaundice. I have been advised to supplement with formula or water. What are my options?
<br><br>
There are two types of jaundice: <br><br>
<ion-img src='assets/lol5.png'></ion-img><br>

Doctors are concerned about jaundice because high levels may cause organ damage (this is rare in healthy babies) or what seems to be physiological jaundice may mask a pathological problem.
<br><br>

Treatment:

<ul>
    <li>Supplementing with water or formula does not help jaundice to clear. Bilirubin, the
            substance which results in yellowing of baby’s skin, is passed out in your baby’s stool.</li>

            <li>Frequent and effective breastfeeding helps to clear excess Bilirubin from your baby’s
                    body, and it is a good option for breastfeeding mums. If the jaundice is making your baby
                    very sleepy, seek help to ensure he is breastfeeding well and getting good breast milk
                    intake.</li>

        <li>
                Phototherapy for jaundice means your baby is placed under lights and separated from
                you. In this case, frequent breastfeeding may not occur and you may miss many of baby’s
                feeding cues.
        </li>

        <li>If this is advised, ask about options such as: <br>
                - Using phototherapy for only a few hours each day <br>
            - Renting a phototherapy machine to use at home <br>
        - Waiting and watching while Breastfeeding often <br>
    - Retesting jaundice levels in a day</li>
</ul>

Many methods used to treat jaundice may hinder breastfeeding. Discuss your doctor’s concerns, negotiate and explore ways to minimise the impact on breastfeeding.
<br><br>
- Extra read: ​www.bestforbabes.org/common-problems-jaundice​ ; www.askdrsears.com/topics/breastfeeding/special-situations/babies-jaundice
<br><br>

<b>How can I involve my partner or other family members in caring for my breastfed family?</b><br>
Many mums feel that introducing bottles to their breastfed babies allows dad and other family members feeding and bonding time. However, introducing bottles early may hinder breastfeeding. Instead, other family members can interact with baby by bathing him / her, playing, singing, reading, winding and engaging him in numerous other activities.
<br><br>
Family members can also support breastfeeding mothers by watching her feed, bringing her drinks and food, letting her rest. Most importantly, family members or caregivers should never make negative comments about the breast milk, and promotes formula milk.
<br><br>
As the baby grows older and enters toddlerhood, the opportunities for bonding increases. Many older babies enjoy time with caregivers other than mum.
<br><br>
<b>Do I need to eat a special diet while breastfeeding? To increase my milk supply?</b><br>
Breastfeeding mothers do not require special diets. A breastfeeding mother’s diet needs to be balanced and varied. Your own choice of foods will depend on your cultural heritage, economic situation and food preferences. Many foods are traditionally believed to increase milk supply.
You may be thirstier and hungrier than usual, so do have a drink and also healthy snacks at hand when feeding or out-and-about.
 <br><br> 
<b>I am down with flu and fever. Should I stop breastfeeding?</b>
<br>Nope. Chances are that the baby was already exposed to the virus or bacteria that caused the illness before mum showed symptoms. The baby will receive antibodies tailored to fight that specific pathogen through the breast milk. There are no antibodies in formula so not breastfeeding might actually cause baby to get sick or sicker when baby would have been okay with breast milk.
<!-- <ion-grid>
                <ion-row>
                    <ion-col>

                    </ion-col>

                    <ion-col>
                        <b>Mother-led latching</b>
                    </ion-col>
                    
                        <ion-col>
                            <b>Baby-led latching</b>
                        </ion-col>
                </ion-row>

                <ion-row>
                        <ion-col>
                            How?
                            </ion-col>
        
                            <ion-col>
                                    By following a series of steps to encourage & direct baby’s efforts
                            </ion-col>
                            
                                <ion-col>
                                        By making the breast available to baby
                                </ion-col>
                    
                </ion-row>

                <ion-row>
                    <ion-col>
                        Description
                    </ion-col>

                    <ion-col>
                            https://www.nct.org.uk/sites/defa ult/files/related_documents/Breast feeding-StepByStep%20FINAL% 20FOR%20PRINT_6.pdf
                    </ion-col>
                </ion-row>
            </ion-grid> -->
  </ion-text>

</ion-content>
