<ion-header no-border>

    <!-- <ion-buttons justify-content-start >
        <ion-button routerLink='/tabs/food'>
          <ion-icon color='warning' slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons> -->
    
   
        <img [src]='getMakanOne.image'>


</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="dots"></ion-refresher-content>
    </ion-refresher>

  <ion-card class='noBorder'>
    <ion-card-header>
      <ion-card-title> {{ getMakanOne.name }} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text> {{ getMakanOne.des }} </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-segment [(ngModel)]="galleryType" color="youngGold" mode='md'>
    <ion-segment-button value="ingredients" mode='md'>
      Ingredients
    </ion-segment-button>

    <ion-segment-button value="recipes" mode='md'>
      Recipes
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="galleryType">
    <div *ngSwitchCase="'ingredients'">
      <ion-card class='noBorder'>
        <ion-card-content>
              
            <ion-list *ngFor='let value of finalArr; let i = index' lines='none'>
                <ion-item>
                  <ion-note color='dark'>{{ value }}</ion-note>
                  <ion-checkbox color='youngGold' slot="start" [(ngModel)]='value.isChecked' (ionChange)='tickBox(value)'></ion-checkbox>
                </ion-item>
            </ion-list>

        </ion-card-content>
      </ion-card> 
    </div>

    <div *ngSwitchCase="'recipes'">
      <ion-card class='noBorder'>
        <ion-card-content>
          <ion-grid>

              <!-- <ion-row>
                <ion-button color='primary' (click)='startTimer()'>Start Timer</ion-button>
                {{ result }}

                <ion-button color='primary' (click)='stopTimer()'>Stop Timer</ion-button>
                
              </ion-row> -->
              <ion-row>
                <ion-col>
                    <p>{{ getMakanOne.information[0].title }}</p>
                    <p class='dark'>{{ getMakanOne.information[0].figure }}</p>
                </ion-col>

                <ion-col>
                    <p>{{ getMakanOne.information[1].title }}</p>
                    <p class='dark'>{{ getMakanOne.information[1].figure }}</p>
                </ion-col>

                <ion-col>
                    <p>{{ getMakanOne.information[2].title }}</p>
                    <p class='dark'>{{ getMakanOne.information[2].figure }}</p>
                </ion-col>
              </ion-row>
              <br>

                  <ion-row *ngFor='let steps of stepsArr'>
                    <ion-col>
                        <img class='stepsImg' src="{{ steps.img }}">
                    </ion-col>

                    <ion-col size='8'>
                        <ion-note color='dark'>{{ steps.Step }}</ion-note>
                    </ion-col>

  
                  </ion-row>

            </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>