<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)='goBack()'>
          <ion-icon color='dark' src='assets/icon/arrow.svg'></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title>In-Between</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-text class='center-chill'>You belong to the In-Between personality. Here's a set of practice for you.</ion-text>
      <br>
      <br>
      <ion-item lines='none'>
        <img src="assets/Practices/drinking-water.svg"> &nbsp; &nbsp; &nbsp; &nbsp;
      <ion-note color='dark'>Consume red date tea and boiled warm water on an alternate days sequence</ion-note>
      </ion-item>
      <br>
      <ion-item lines='none'>
          <img src="assets/Practices/workout.svg"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-note color='dark'>Move around the house slowly only two to three times a day while ensuring you have proper bed rest</ion-note>
        </ion-item>
        <br>
        <ion-item lines='none'>
            <img src="assets/Practices/wind.svg"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <ion-note color='dark'>Use solely the air-conditioner with short sleeves clothing when feeling humid</ion-note>
          </ion-item>
          <br>
      <ion-item lines='none'>
          <img src="assets/Practices/bathing.svg"> &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-note color='dark'>Shower and wash your hair with herbal bath * Dry yourself immediately after shower</ion-note>
        </ion-item>
  
  </ion-content>
  