<ion-header no-border>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <br>
  <ion-text> Any Confinement Experience?</ion-text>
  <br>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-img src='assets/Logo/stillyounglogo.png'></ion-img>
      </ion-col>

      <ion-col>
        <br>
        <ion-row>
            <ion-button class='ans' (click)='firstTime()'>First Time</ion-button>
        </ion-row>

        <ion-row>
            <ion-button class='ans' (click)='wentThrough()'>Went Through</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
