<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)='goBack()'>
          <ion-icon color='dark' src='assets/icon/arrow.svg'></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title>Strict</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-text class='center-chill'>You belong to the Strict personality. Here's a set of practice for you.</ion-text>
      <br>
      <br>
      <ion-item lines='none'>
        <img src="assets/Practices/drinking-water.svg"> &nbsp; &nbsp; &nbsp;
      <ion-note color='dark'>Consume red date tea on a daily basis</ion-note>
      </ion-item>
      <br>
      <ion-item lines='none'>
          <img src="assets/Practices/workout.svg"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-note color='dark'>Not get down from bed unless necessary to maximise the amount of bed rest you get</ion-note>
        </ion-item>
        <br>
        <ion-item lines='none'>
            <img src="assets/Practices/wind.svg"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <ion-note color='dark'>Use solely the air-conditioner with long sleeves clothing when feeling humid</ion-note>
          </ion-item>
          <br>
      <ion-item lines='none'>
          <img src="assets/Practices/bathing.svg"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-note color='dark'>Shower with herbs but not allowed to wash your hair for 30 days</ion-note>
        </ion-item>
  
  </ion-content>
  