img {
    width: 20% !important;
}

.center-chill {
    font-family: 'Raleway', sans-serif !important;
    text-align: center !important;
    float: right;
}

ion-note {
    font-size: .9em !important;
}