ion-card-subtitle {
    text-align: center !important;
}

@import '../../theme/BoxShadowNone';
@import '../../theme/ToolBarColor';

ion-text {
    font-family: 'Raleway', sans-serif;
    line-height: 4vh;
}
